<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- UA-108098306-1 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108098306-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108098306-1');
</script>

<!-- Google tag (gtag.js) -->
<!-- G-BS1PB6HT3H -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BS1PB6HT3H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BS1PB6HT3H');
  </script>