---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta" style='margin-top:0.5em;'>Posted by {{ page.author }} on {{ page.date | date: "%A, %B %-d, %Y" }}
                    </span>
                    <span class="meta" style='margin-top:0.5em;'> Tags: {% for tag in page.tags %}<a href="/archive/tags/{{ tag }}"><i class="fa fa-tag"></i> {{ tag }}</a> {% endfor %} </span>
                    <span class="meta" style='margin-top:0.5em;'>
                        {% assign minutes = content | number_of_words | divided_by: site.wpm %}
                        <i class="fa fa-clock-o"></i>&nbsp;{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                        {{ minutes }} minute read
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
                <br> 
                <!-- #1 In Article AdSense in post--> 
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // 무작위로 삽입할 텍스트
                        var randomText = "여기에 무작위 텍스트를 입력합니다.";
                        var adCode = 
                        '<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-1101850893094860" data-ad-slot="5591535814"><\/ins>' + 
                        '<script> (adsbygoogle = window.adsbygoogle || []).push({}); <\/script>';
                        // 중첩된 요소 중에서 무작위로 위치를 선택합니다.
                        var elements = document.querySelectorAll('div[id^="section-id-"]');
                        var randomIndex = Math.floor(Math.random() * elements.length);
                        var randomElement = elements[randomIndex];

                        var adElement = document.createElement("div");
                        adElement.innerHTML = adCode;
                        randomElement.insertBefore(adElement, randomElement.firstChild);
                    });
                </script>
          
                <!-- #2 POST Display AdSense in post -->
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1101850893094860" crossorigin="anonymous"></script>
                <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-client="ca-pub-1101850893094860" data-ad-slot="4824700312" data-ad-format="auto" data-full-width-responsive="true"></ins> 
                <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>

                <!-- disqus_comments -->
                <br> 
                    {% if page.comments %}
                    {% include disqus_comments.html %}
                    {% endif %}
                <br>
              
                <!-- Pager -->
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
                <br>
                <br>
            </div>
        </div>
    </div>
</article>